.component {
    max-width: 1200px;
    min-width: 1200px; /* Maximal bredd för komponenten */
    margin: 0 auto 100px auto;    /* Centrerar komponenten horisontellt */
    padding: 0 20px;   /* Lägger till lite inre marginal på sidorna */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 768px) {
    .component {
      max-width: 100%;
      min-width: 100%; /* Tillåter komponenten att fylla hela skärmbredden */
      margin: 0;       /* Tar bort automatiska marginaler */
      padding: 0 10px; /* Minskar inre marginal för mindre skärmar */
    }
  }

.textdiv {
 padding-top: 20px;
 padding-bottom: 20px;
}

.projectdiv {
    padding: 5px;
    margin-bottom: 40px;
}