.start-first-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap; /* gör att det lägger sig under varandra på små skärmar */
  margin-bottom: 100px;
  padding: 0 20px;
  background-image: url("../Img/330334348_1249934295917953_4201965388316425524_n.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 12px;
  width: 100vw;
}

.start-section {
  flex: 2; 
  padding: 80px 40px;
  min-width: 300px;
  margin: 0px;
}

.start-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.start-section h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.video-container {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.intro-video {
  width: 100%;
  max-width: 360px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
